# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
*.db
*.env
.env
venv/
db.sqlite3

# React
node_modules/
build/
.env.local
.env.development
.env.production
.env.test

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.swo
